{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
	تغییر کلمه عبور
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>

            <div class="col-md-8 pull-left">
                <form enctype="multipart/form-data" action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}

{#                    {{ form.as_p }}#}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>

        </div>

{% endblock %}